<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/@fontsource-variable/space-grotesk@5.0.3/index.min.css">
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body
        class="bg-body-primary text-body-onprimary"><div id="background"></div>
{% for type, messages in app.flashes() %}
    {% for message in messages %}
        <twig:Alert type="{{ type }}" floating >
            {{ message }}
        </twig:Alert>
    {% endfor %}

{% endfor %}

<div>
    {% block body %}
        {% include "layout/_navbar.html.twig" %}
        {% include "layout/_sidebar.html.twig" %}
        <div class="grid grid-cols-12 grid-rows-1 gap-4 pt-25 md:pt-20 p-4 sm:ml-64">
            <div class="col-span-12 md:col-span-2 order-last">
                <div class="bg-body-secondary rounded-md border-2 border-primary/50">
                    <div class="px-4 py-2 border-b border-body-divider rounded-t-md font-bold">
                        Active Mission
                    </div>
                    <div class="p-4">
                        Build a Concrete Extractor and expand to level 2
                    </div>
                </div>
            </div>
            <div class="col-span-12 md:col-span-10">
                <main class="main">
                    {% block content %}
                    {% endblock %}
                </main>
            </div>

        </div>

    {% endblock %}
</div>
<script>
    // On page load or when changing themes, best to add inline in `head` to avoid FOUC
    if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.dataset.theme = 'dark';
    } else {
        document.documentElement.dataset.theme = 'light'
    }
</script>
</body>
</html>
