{% props type = 'success', message, floating = false %}

{% set alert = cva({
    base: 'p-4 text-sm border-b-4 shadow-lg',
    variants: {
        type: {
            info: 'bg-info-secondary border-info-primary',
            error: 'bg-error-secondary border-error-primary',
            success: 'bg-success-secondary border-success-primary',
            warning: 'bg-warning-secondary border-warning-primary'

        },
        floating: {
            true: 'fixed top-0 right-0 left-0 right-0 z-100 rounded-t-3'
        }
    }
}) %}

<div class="{{ alert.apply({ type, floating }, attributes.render('class'))|tailwind_merge }}" role="alert">
    {% block content %}{% endblock %}
</div>