{% props type = 'success', message %}

{% set alert = cva({
    base: 'p-4 mb-4 text-sm ',
    variants: {
        type: {
            info: 'bg-brand-primary text-brand-onprimary',
            error: 'bg-error-secondary text-error-onprimary',
            success: 'bg-success-primary text-success-onprimary',
            warning: 'bg-warning-primary text-warning-onprimary'

        }
    }
}) %}

<div class="{{ alert.apply({ type }, attributes.render('class'))|tailwind_merge }}" role="alert">
    {% block content %}{% endblock %}
</div>