<div>
    <div {{ attributes.without('id') }} data-tooltip-target="{{ id }}" data-tooltip-placement="bottom">
        {% block content %}
        {% endblock %}
    </div>
    {% if tooltip is defined or title is defined %}
        <div id="{{ id }}" role="tooltip"
             class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-display font-medium bg-body-accent text-body-onaccent border border-brand-primary transition-opacity duration-300 rounded-lg shadow-lg opacity-0 tooltip">
            {{ tooltip is defined ? tooltip : title }}
            <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
    {% endif %}

</div>
