<div id="toastsContainer" class="fixed top-5 right-5 z-100 flex flex-col">
    {% for type, messages in app.flashes() %}

        {% for message in messages %}
            {% include 'layout/_toast.html.twig' %}
        {% endfor %}

    {% endfor %}
</div>
